.hero {
    background-image:linear-gradient(rgb(255, 255, 255), transparent), url(../img/ordi-code.jpg); /*définit l'image de fond de l'élément en un dégradé linéaire avec une couleur de rgba(0, 0, 0, 0.486) en haut et transparente en bas, et une image d'hôtel.  */ 
    display: flex; /* Tous ses enfants deviennent flex */ 
    flex-direction: column; /* définit la propriété flex-direction en "colonne", ce qui signifie que les éléments flex seront empilés verticalement */
    text-align: center; /* définit l'ALIGNEMENT DU TEXTE de l'élément au centre */
    justify-content: center; /* définit l'ALIGNEMENT HORIZONTAL des éléments flex au centre dans le conteneur flex */
    align-items: center; /* définit l'ALIGNEMENT VERTICAL des éléments flex au centre dans le conteneur flex*/
    /* height: calc(100vh - $header-height); Je veux que la class hero prenne tte la page - la taille du header  */
    background-size: cover; /* définit l'image de fond pour COUVRIR TOUT L'ELEMENT */
    background-position: center; /* définit la position de l'image de fond pour être centrée dans l'élément */
    padding: 20px; /* Espacement intérieur */
    height: 300px;
}

main .hero a {
    padding: 0.8em;
    text-decoration: none;
    color: #333;
}

.hero h1 {
    border-style: dotted;

}

main h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 2px solid #555454;
    padding-bottom: 1em;

}

main .about {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    align-items: center;
    gap: 5px;
    padding: 3em;
}

main h3 {
    padding: 0.8em;
    font-weight: bold;
}

main p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



main .about .info {
    display: flex;
    width: 70%;
    gap: 5em;
    flex-direction: row;
    margin: 1em;
    align-items: center;
}

main .about .info div:first-child {
    box-shadow: 0px 0px 3px 2px #dddddd87;
    padding: 8px;
    margin: 5px 0px;
    line-height: 2em;
}

main .about .info div:first-child:hover {
    box-shadow: 0px 0px 14px 14px #f2efefda;
}

main .about .info div:nth-child(2){
    box-shadow: 0px 0px 3px 2px #dddddd87;
    padding: 8px;
    margin: 5px 0px;
    line-height: 2em;
}

main .about .info div:nth-child(2):hover {
    box-shadow: 0px 0px 14px 14px #f2efefda;
}

.about .info div:first-child ul li {
    list-style: none; 
    display: inline-block;
    padding: 0.5em;
    margin: 0.2rem;
    background-color: #917874;
    color: white;
    border-radius: 18px;

}




